# Based on https://github.com/im85288/service.upnext/blob/master/.github/workflows/release.yml
name: Release Kodi 18
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'
      - '*-dev'

jobs:
  release:
    if: github.repository == 'anxdpanic/plugin.video.youtube' || github.event_name == 'workflow_dispatch'
    name: Release Kodi 18
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Add-on
        uses: actions/checkout@v4
        with:
          path: ${{ github.event.repository.name }}

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libxml2-utils xmlstarlet zip

      - name: Create Zip (Leia)
        id: zip-leia
        run: |
          git reset --hard ${{ github.sha }}
          git checkout .
          git clean -fdx
          mv .git ..
          rm -rf .??*
          rm *.md
          news=$(awk '/^## /{rel_num++} {if(rel_num==2){exit} if(rel_num==1){print}}' changelog.txt | sed -E 's/ ?#[[:digit:]]+[., ]?//g;s/\r//')
          version=$(xmlstarlet sel -t -v 'string(/addon/@version)' addon.xml)
          version="${version}+leia.1"
          version=${version/+/!}; version=${version//+/.}; version=${version/!/+}
          xmlstarlet ed -L -P \
            -s '/addon/extension[@point="xbmc.addon.metadata"]' -t elem -n news -v "${news:0:1500}" \
            -u '/addon/@version' -v "${version}" \
            -u '/addon/requires/import[@addon="xbmc.python"]/@version' -v '2.26.0' \
            -d '/addon/requires/import[@addon="script.module.requests"]/@version' \
            -d '/addon/requires/import[@addon="inputstream.adaptive"]/@version' \
            -d '/addon/requires/import[@addon="script.module.inputstreamhelper"]/@version' \
            -s '/addon/requires' -t elem -n import_temp \
            -s '/addon/requires/import_temp' -t attr -n addon -v 'script.module.kodi-six' \
            -r '/addon/requires/import_temp' -v import \
            addon.xml
          filename=${{ github.event.repository.name }}-${version}.zip
          cd ..
          zip -r $filename ${{ github.event.repository.name }}
          mv .git ${{ github.event.repository.name }}
          echo "filename=$filename" >> $GITHUB_OUTPUT
        working-directory: ${{ github.event.repository.name }}

      - name: List created zip
        run: |
          echo "Created Kodi 18 (Leia) zip: ${{ steps.zip-leia.outputs.filename }}"
          ls -lh ${{ steps.zip-leia.outputs.filename }}
